.x-item-disabled.x-grid-row td, .x-item-disabled.x-grid-row-alt td {
	filter:alpha(opacity=30);
	opacity:.3;
}

.olControlNavToolbar .olControlDragPanItemInactive {
	background-position: -104px -1px;
}

.olControlNavToolbar .olControlDragPanItemActive {
	background-position: -104px -24px;
}

.olControlNavToolbar div.olControlSelectFeatureItemInactive, .olControlNavToolbar div.olControlSelectFeatureItemActive {
	 background-image: url("/forward-modelling-portlet/img/stationselector.png");
}

.olControlNavToolbar .olControlSelectFeatureItemInactive {
	background-position: -1px -1px;
}

.olControlNavToolbar .olControlSelectFeatureItemActive {
	background-position: -1px -24px;
}

.x-btn-icon-left>.x-btn-icon-el-default-small, .x-btn-icon-right>.x-btn-icon-el-default-small {
	background-size: 16px;
}

.form-description .x-form-display-field-default {
	height: auto;
    white-space: normal;
}

.alert .x-form-display-field-default {
    color: #ff0000;
}