.olControlNavToolbar .olControlDragPanItemInactive,
.olControlEditingToolbar .olControlDragPanItemInactive {
    background-position: -103px -1px;
}
.olControlNavToolbar .olControlDragPanItemActive ,
.olControlEditingToolbar .olControlDragPanItemActive  {
    background-position: -103px -24px;
}
.olControlNavToolbar .olControlSelectFeatureItemInactive,
.olControlEditingToolbar .olControlSelectFeatureItemInactive {
    background-position: -128px -1px;
}
.olControlNavToolbar .olControlSelectFeatureItemActive ,
.olControlEditingToolbar .olControlSelectFeatureItemActive  {
    background-position: -128px -24px;
}
